language: node_js
node_js:
- stable
cache:
  directories:
  - node_modules
script:
- npm run lint
- npm run test
- npm run build
deploy:
  provider: npm
  edge: true
  email: ajwann@ajwann.com
  api_key:
    secure: l5ffpkgxUkAXjDLgrUe6TRUHiXYnS+vLvzsKuDGTh9BDs3nG5qy88yKp0QvQW/CTtU5cfH0KvUCirf7PlS35kd2sTUky/eBStu4EJ5wbsAsuKf8/RaQFeO1IFDcXLY5JYaqMgYA8HzmjZ/me68NTBQY92Synpnv2UJT4qnTbBkwNvcTsdsf4Fl1i9+jnoo3zlS9FwluptEFTsEe8KAAUpEHtZc+NfCn24cwhQkFC3LeN+AdgFVdyoSEL0epRkkoyMIGlQIYVsFFaE0IvM2SBwFUHd5eTqLlV1O0t/oo2sOS/De/7YqnbHQCF3oq94543ccuHhlK0kYUciDB9u99T9z3SAFe1zMEIINK9Al+D9enfCcyrn1DS9h2gMXjq8vIxHtZXN2LCEJ0aDyzujkSiPNnjjdPShkfj99kFzzTPJ6WKd0wxMRFKbJMwRtbdc2nCKHE/739yV4uCVBN9CbKu1rN6M1rNVWaKd1QlmJbDDamKdZIDaVfx31mvBZSTLDcHuVvVUBEIjUCM1JwiF3Mp6eiwXAtBwpHlMQtCaGdY/XF3Wi4dvUXhN9NFQzJtuFoJzTcPBID+sve6U5o4kw3PwBDFckCjxtn0SOYYgmz6gXFeUdMCtbvJD58B6EsRuP1P1FQqbn27YrmkYmISkqXjLC7SOMOpwxSr7n0U4akrElE=
  on:
    tags: true
    repo: ajwann/css-spinners-react
